@import "../../style/constants";
@import "../../style/placeholders";
@import "volume-slider";

.current_bird_block {
  @extend %flex_row_space-between;
  justify-content: left;
  color: snow;
  height: 100%;
  max-height: 250px;
  border-radius: 5px;
  background: $color-main-blocks;
  @media (max-width: 768px) {
    flex-direction: column;
    max-height: 450px;
  }
}

.current_bird_name {
  width: 5rem;
  justify-self: left;
  font-size: 30px;
  margin-top: 10px;
  white-space: pre;
  @media (max-width: 768px) {
    margin: auto;
  }
}

.image_bird {
  width: 240px;
  max-height: 165px;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  @media (max-width: 768px) {
    margin: 10px 0 0;
  }
  @media (max-width: 468px) {
    margin: 10px 0 0;
    width: 140px;
    max-height: 95px;
  }
}

.image_bird_container {
  width: 250px;
  height: 195px;
  overflow: hidden;
  @media (max-width: 768px) {
    margin: auto;
  }
  @media (max-width: 468px) {
    width: 140px;
    max-height: 125px;
  }
}

.name_and_audio {
  margin-left: 2rem;
  @media (max-width: 1020px) {
    margin-left: 10px;
  }
  @media (max-width: 768px) {
    margin-left: 0;
    text-align: center;
  }
}

.button_play_and_time_bar_container {
  @extend %flex_row_space-between;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.audio_block {
  width: 100%;
  max-width: 340px;
}

.play_pause_button {
  width: 60px;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 1020px) {
    width: 40px;
    text-align: center;
  }
}

.audio_player_container {
  @extend %flex_row_space-between;
  padding-top: 20px;
  border-top: 1px solid $color-body;
  justify-content: left;
  @media (max-width: 1020px) {
    flex-direction: column;
  }
}



.time {
  @extend %flex_row_space-between;
  height: 15px;
  @media (max-width: 1020px) {
   font-size: 14px;
    margin-right: 10px;
  }

}

.audio_player__volume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume {
  margin-left: 10px;
}

.volume_icon {
  width: 40px;
  @media (max-width: 1020px) {
    width: 30px;
  }
}


// thumb style:

.audio_player__timebar {
  margin-top: 15px;
  align-self: center;
  margin-left: 30px;
  @media (max-width: 1020px) {
    margin-left: 10px;
  }
}

.timebar {
  width: 500px;
  height: 10px;
  border-radius: 5px;
  background: $color-answer-options-hover;
  @media (max-width: 1020px) {
    width: 70vw;
    height: 5px;
    border-radius: 3px;
    margin-right: 10px;
  }
  @media (max-width: 420px) {
    width: 50vw;
  }
}

.timebar_background {
  position: relative;
  height: 10px;
  border-radius: 5px;
  z-index: 2;
  @media (max-width: 1020px) {
    height: 5px;
    border-radius: 3px;
  }
}

.volume_icon_thumb {
  width: 30px;
}

.volume_input {
  margin-left: 5px;
}


