@import "../../style/constants";
@import "../../style/placeholders";
@import "volume-slider";

.current_bird_block {
  @extend %flex_row_space-between;
  justify-content: left;
  color: snow;
  height: 100%;
  max-height: 250px;
  border-radius: 5px;
  background: $color-main-blocks;
}

.current_bird_name {
  width: 5rem;
  justify-self: left;
  font-size: 30px;
  margin-top: 10px;
}

.image_bird {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}

.name_and_audio {
  margin-left: 2rem;
}

.play_pause_button {
  width: 60px;
  &:hover {
    cursor: pointer;
  }
}

.audio_player_container {
  @extend %flex_row_space-between;
  padding-top: 20px;
  border-top: 1px solid $color-body;
  justify-content: left;
}

.audio_player__timebar {
  margin-top: 15px;
  align-self: center;
  margin-left: 30px;
}

.timebar {
  width: 500px;
  height: 10px;
  border-radius: 5px;
  background: $color-answer-options-hover;
}

.timebar_background {
  position: relative;
  height: 10px;
  border-radius: 5px;
  z-index: 2;
}

.time {
  @extend %flex_row_space-between;
  height: 15px;
}

.audio_player__volume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume {
  margin-left: 10px;
}

.volume_icon {
  width: 40px;
}



