input[type=range] {
  width: 50%;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #8c8c8c;
  border: 0;
  border-radius: 13.8px;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -3.5px;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 48px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cccccc;
}
input[type=range]::-moz-range-track {
  background: #8c8c8c;
  border: 0;
  border-radius: 13.8px;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 48px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.5px 0;
  color: transparent;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #4c4c4c;
  border: 0;
  border-radius: 27.6px;
}
