@import "../../style/constants";
@import "../../style/placeholders";

.title_and_score {
  @extend %flex_row_space-between;
  color: snow;
  align-items: center;
  margin-top: 20px;
}

.navigation_birds__list {
  @extend %flex_row_space-between;
  overflow: hidden;
  align-items: center;
  width: 100%;
  height: 40px;
  background: $color-birds-list;
  color: snow;
  border-radius: 5px;
}

.bird_list_item {
  @extend %flex_row_center_center;
  @extend %my-transition;
  width: 190px;
  height: 40px;
  &:hover {
    cursor: pointer;
    background: $color-birds-hover;
  }
}

.bird_list_item__active {
  background: $color-birds-hover;
}


