$color-body: #35373B;
$color-main-blocks: #4B4D51;

$color-birds-list: #6286BD;
$color-birds-hover: #A0B6D2;

$color-answer-options-hover: #8C8C8C;

$color-correct: #58A279;
$color-error: #F26065;

$width-wrapper: 1140px;
