@import "../../style/constants";
@import "../../style/placeholders";

.answer_options_block {
  margin-top: 15px;
  width: 550px;
  height: 277px;
  border-radius: 5px;
  background: $color-main-blocks;
  overflow: hidden;
}

.answers_list {
  list-style: none;
  color: snow;
}

.answers_item {
  @extend %my-transition;
  display: flex;
  text-align: left;
  padding: 10px;
  border: .5px solid $color-answer-options-hover;
  &:hover {
    cursor: pointer;
    background: $color-answer-options-hover;
  }
}

.answers_item__marker {
  @extend %background-image-no-repeat-center;
  display: block;
  width: 25px;
  background-image: url('../../assets/svg/bird-marker.svg');
}

.answers_item__name {
  margin-left: 10px;
}

.correct {
  @extend %background-image-no-repeat-center;
  background-size: 20px;
  background-image: url('../../assets/svg/correct.svg');
}

.error  {
  @extend %background-image-no-repeat-center;
  background-size: 20px;
  background-image: url('../../assets/svg/error.svg');
}

